body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background: url(../img/header-bg.png) no-repeat;
	width: 1279px;
	height: 250px;
	margin: 0 auto;
}

header img {
	display: inline-block;
	margin: 78px 0 0 229px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

nav {
	min-width: 900px;
	width: 955px;
    height: 47px;
    margin: 71px auto;
    background: linear-gradient(to top, #767676, #9d9d9d);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 3px solid #4e4e4e;
}

nav a {
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
    font-weight: bold;
}

nav a:hover, 
aside a:hover,
.search-button:hover {         /* Green color*/
 color: #8ebd01;	
}

aside li:hover {
background: #262525;
}

nav li {
	float: left;
	margin: -1px 29px 0 0;
}

section {
	width: 1279px;
	margin: 0 auto;
}

.top-images {
	width: 1100px;
	margin: 32px auto;
    text-align: center;
}

.image-one,
.image-two,
.image-three,
.image-four {
display: inline-block;
background: url(../img/border.png) no-repeat;	
height: 187px;
width: 239px;
}

.image-one img,
.image-two img,
.image-three img,
.image-four img {
	height: 180px;
    width: 231px;
    border-radius: 6px;
    padding: 3px 0 0 3px;
}

.left-arrow {
	float: left;
}

.right-arrow {
	float: right;
}

.la, .ra { /* BLOCK WITH LEFT AND RIGHT ARROWS IMAGE */
	margin: 70px 0;
	cursor: pointer;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

.la:hover,
.ra:hover {
	opacity: 0.5;
}

.divider-big {
	color: #a6a6a6;
	height: 5px;
}

aside { /* LEFT VERTICAL NAV*/
	float: left;
	margin: 7px 0 0 -39px;
}

aside a {
	font-size: 14px;
	color: white;
	padding-left: 16px;
	width: 207px;
    height: 27px;
    display: inline-block;
}

aside li {
	background: #3c3c3c;
	width: 226px;
	height: 27px;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #3c3c3c;
	padding-top: 5px;
}

.search-field {
	margin: 25px;
    display: inline-block;
}

.search-holder { /*SEARCH FIELD*/
	background: url(../img/search.png) no-repeat;
	background-position-x: 10px;
    background-position-y: 9px;
	width: 516px;
	height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #a6a6a6;
    outline-color: #8ebd01;
    padding-left: 36px;
    color: gray;
}

.search-holder::selection {
background: #8ebd01;
color: white;
}

.search-button { /* SEARCH GO BUTTON */
	background: linear-gradient(to top, #757575, #9d9d9d);
	width: 196px;
	height: 30px;
	margin-left: 7px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	outline-color: transparent;
	letter-spacing: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

.content {
   	width: 782px;
    height: auto;
    float: left;
    margin: -18px 0 0 25px;
}

.right-block {
	float: right;
	width: 229px;
	height: 1000px;
	margin-top: -55px;
}

article {
	float: left;
	width: 365px; 
	height: 265px;
	border: 1px solid #c8c6c6;
	margin-top: 17px;
}

.content > article:nth-child(even) {
	margin-left: 28px;
}

.content > article:nth-child(1) .item-title:nth-child(1):before {
	content: "";
	background: url(../img/hot.png) no-repeat;
	display: inline-block;
	height: 52px;
	width: 54px;
    margin: -4px -4px;
    float: right;
}

.item-title {
	color: #39647e;
	font-size: 18px;
}

.item-title span {
	display: inline-block;
    margin: 15px 0 0 15px;
    letter-spacing: -1px;
    max-width: 273px;
    overflow: hidden;
}

.item-img {
	margin: 17px 7px 14px 17px;
	float: left;
}

.buy {
	width: 60px;
	height: 23px;
	font-size: 14px;
	color: white;
	background: linear-gradient(to top, #027dac, #4cb3d5);
	border: 1px black;
}

.to-cart {
	width: 75px;
	height: 23px;
	font-size: 14px;
	color: white;
	background: linear-gradient(to top, #87b301, #b2d745);
	border: 1px black;
}

.buy:hover,
.to-cart:hover {
background: linear-gradient(to top, #9d9d9d, #777777);
}

.stars {
display: inline-block;
margin: 8px 0 15px -40px;
height: 41px;
}

.stars li {
	float: left;
	font-size: 12px;
	text-indent: 6px;
	cursor: pointer;
}

.stars li:hover {
zoom: 0.8;
}

.price {
	margin: 21px 0 0 4px;
    display: inline-block;
}

.divider-small {
	clear: both;
    border: 1px solid #c8c6c6;
}

.about {
	font-size: 12px;
    width: 284px;
    margin: 0 auto;
    text-align: justify;
}

.cart {
	width: 100%;
}

.cart-title,
.form-title {
	background: linear-gradient(to top, #d8d8d8, #efefef);
	height: 41px;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #9f9f9f;
	color: #4b4a4a;
	font-size: 14px;
	text-transform: uppercase;
}

.cart-title span,
.form-title span {
	margin: 14px 0 0 9px;
    display: block;
}

.empty-cart {
	min-height: 82px;
	border: 1px solid black;
}

.empty-cart img {
	margin: 25px 15px;
	vertical-align: middle;
}

.empty-cart span {
	font-size: 13px;
	color: #4b4a4a;
}

.login-form {
	height: 240px;
	width: 100%;
	margin-top: 20px;
}

.form {
	border: 1px solid black;
	height: 193px;
}

.form .text-field {
	color: #c8c8c8;
    display: block;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    height: 30px;
    width: 197px;
    padding-left: 10px;
}

input[type="text"] {
	margin: 27px auto 17px;
}

input[type="password"] {
	margin: 0 auto;
}

label {
height: 13px;
width: 13px;
display: inline-block;
position: relative;
vertical-align: middle;
}

input[type="checkbox"] {
	opacity: 0;
}

input[type="checkbox"] + span {
 position: absolute; 
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: url(../img/check-not-checked.png) no-repeat; 
 cursor: pointer;
}

input[type="checkbox"]:checked + span  	{
 background: url(../img/check-checked.png) no-repeat;
}

.save-me {
	margin: 17px 7px 0 17px;
}

.save-me-text {
	font-size: 12px;
	color: #acacac;
}

.save-me-ok {
	width: 40px;
	height: 25px;
	font-size: 14px;
	color: white;
	background: linear-gradient(to top, #8fb718, #abd336);
	border: 1px solid black;
    border-radius: 2px;
    margin-left: 20px;
}